.project-tags {
    margin-top: 10px;
    
    .tag {
      display: inline-block;
      background-color: #f0f0f0;
      padding: 4px 8px;
      border-radius: 12px;
      font-size: 0.8em;
      margin-right: 6px;
      margin-bottom: 1px;
      color: #666;
      
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }